body {
    background-color: rgba(239, 237, 243, 0.952);
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    text-align: center;
}

.container-sm {
    max-width: 500px;
    width: 90%;
    margin: auto;
    text-align: center;
    padding-top: 20px;
}

.system-img {
    max-width: 250px;
    height: auto;
    display: block;
    margin: 0 auto 20px;
}

.system-text {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

.form-control-lg {
    font-size: 16px;
    padding: 10px;
}

.btn-lg {
    font-size: 16px;
    padding: 10px 20px;
}
